<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-center gap-4 md:h-24 md:flex-row text-center"
  >
    <p class="text-muted-foreground text-sm">
      All rights reserved to Integrated Systems Technologies R&D Group.
    </p>
  </div>
</footer>
